<select class="custom-select required" name="class_name" required>
    <option value="">Select class</option>
    <option value="ACCT">ACCT-Accounting</option>
    <option value="ACSC">ACSC-Actuarial Science</option>
    <option value="ACWR">ACWR-Academic Writing</option>
    <option value="AFST">AFST-African Studies</option>
    <option value="ALMC">ALMC-Arabic Lang &amp; Muslim Cult</option>
    <option value="ANTH">ANTH-Anthropology</option>
    <option value="ARHI">ARHI-Art History</option>
    <option value="ARKY">ARKY-Archaeology</option>
    <option value="ARST">ARST-Architectural Studies</option>
    <option value="ART">ART-Art</option>
    <option value="ARTS">ARTS-ARTS</option>
    <option value="ASHA">ASHA-Arts &amp; Science Honours Ac</option>
    <option value="ASPH">ASPH-Astrophysics</option>
    <option value="ASTR">ASTR-Astronomy</option>
    <option value="BCEM">BCEM-Biochemistry</option>
    <option value="BIOL">BIOL-Biology</option>
    <option value="BIST">BIST-Biostatistics</option>
    <option value="BMEN">BMEN-Biomedical Engineering</option>
    <option value="BSEN">BSEN-Business and Environment</option>
    <option value="BTMA">BTMA-Business Technology Manag</option>
    <option value="CEST">CEST-Central &amp; East European S</option>
    <option value="CHEM">CHEM-Chemistry</option>
    <option value="CHIN">CHIN-Chinese</option>
    <option value="CMCL">CMCL-Communication and Culture</option>
    <option value="CMDA">CMDA-Computational Media Desig</option>
    <option value="CMMB">CMMB-Cellular, Molec, Microb B</option>
    <option value="CNST">CNST-Canadian Studies</option>
    <option value="COMS">COMS-Communication &amp; Media Stu</option>
    <option value="COOP">COOP-Co-operative Education</option>
    <option value="CORE">CORE-Community Rehabilitation</option>
    <option value="CPSC">CPSC-Computer Science</option>
    <option value="DATA">DATA-Data Science</option>
    <option value="DEST">DEST-Development Studies</option>
    <option value="DNCE">DNCE-Dance</option>
    <option value="DRAM">DRAM-Drama</option>
    <option value="EAST">EAST-East Asian Studies</option>
    <option value="ECOL">ECOL-Ecology</option>
    <option value="ECON">ECON-Economics</option>
    <option value="EDBT">EDBT-Education Bridge to Teach</option>
    <option value="EDER">EDER-Educational Research</option>
    <option value="EDPS">EDPS-Educational Psychology</option>
    <option value="EDUC">EDUC-Education</option>
    <option value="ENCH">ENCH-Chemical Engineering</option>
    <option value="ENCI">ENCI-Civil Engineering</option>
    <option value="ENCM">ENCM-Computer Engineering</option>
    <option value="ENEE">ENEE-Energy and the Environmen</option>
    <option value="ENEL">ENEL-Electrical Engineering</option>
    <option value="ENEN">ENEN-Environmental Engineering</option>
    <option value="ENER">ENER-Energy Engineering</option>
    <option value="ENGG">ENGG-Engineering</option>
    <option value="ENGL">ENGL-English</option>
    <option value="ENGO">ENGO-Geomatics Engineering</option>
    <option value="ENME">ENME-Mechanical Engineering</option>
    <option value="ENMF">ENMF-Manufacturing Engineering</option>
    <option value="ENMG">ENMG-Energy Management</option>
    <option value="ENPE">ENPE-Petroleum Engineering</option>
    <option value="ENSC">ENSC-Environmental Science</option>
    <option value="ENSF">ENSF-Software Engineering for</option>
    <option value="ENTI">ENTI-Entrepreneurship &amp; Innova</option>
    <option value="EVDA">EVDA-Environ Design Architectu</option>
    <option value="EVDL">EVDL-Environmental Design Land</option>
    <option value="EVDP">EVDP-Environmental Design Plan</option>
    <option value="EVDS">EVDS-Environmental Design</option>
    <option value="FILM">FILM-Film</option>
    <option value="FNCE">FNCE-Finance</option>
    <option value="FREN">FREN-French</option>
    <option value="GEOG">GEOG-Geography</option>
    <option value="GERM">GERM-German</option>
    <option value="GLGY">GLGY-Geology</option>
    <option value="GOPH">GOPH-Geophysics</option>
    <option value="GREK">GREK-Greek</option>
    <option value="GRST">GRST-Greek and Roman Studies</option>
    <option value="HSOC">HSOC-Health and Society</option>
    <option value="HTST">HTST-History</option>
    <option value="IFPB">IFPB-Int'l Foundations Program</option>
    <option value="IFPE">IFPE-Int'l Foundations Program</option>
    <option value="IFPX">IFPX-International Foundations</option>
    <option value="INDG">INDG-Indigenous Studies</option>
    <option value="INDL">INDL-Indigenous Languages</option>
    <option value="INTE">INTE-Internship</option>
    <option value="INTR">INTR-International Relations</option>
    <option value="IPHE">IPHE-IPHE</option>
    <option value="ITAL">ITAL-Italian</option>
    <option value="JPNS">JPNS-Japanese</option>
    <option value="KNES">KNES-Kinesiology</option>
    <option value="LANG">LANG-Language</option>
    <option value="LAST">LAST-Latin American Studies</option>
    <option value="LATI">LATI-Latin</option>
    <option value="LAW">LAW-Law</option>
    <option value="LING">LING-Linguistics</option>
    <option value="LLAC">LLAC-LLAC</option>
    <option value="LWSO">LWSO-Law and Society</option>
    <option value="MATH">MATH-Mathematics</option>
    <option value="MDCH">MDCH-Community Health Sciences</option>
    <option value="MDCN">MDCN-Medicine</option>
    <option value="MDGE">MDGE-Medical Graduate Educatio</option>
    <option value="MDPH">MDPH-Medical Physics</option>
    <option value="MDSC">MDSC-Medical Science</option>
    <option value="MGST">MGST-Management Studies</option>
    <option value="MHST">MHST-Museum &amp; Heritage Studies</option>
    <option value="MKTG">MKTG-Marketing</option>
    <option value="MRSC">MRSC-Marine Science</option>
    <option value="MUED">MUED-Music Education</option>
    <option value="MUHL">MUHL-Music History and Literat</option>
    <option value="MUPF">MUPF-Music Performance</option>
    <option value="MUSI">MUSI-Music</option>
    <option value="NANS">NANS-Nanoscience</option>
    <option value="NEUR">NEUR-Neuroscience</option>
    <option value="NURS">NURS-Nursing</option>
    <option value="OBHR">OBHR-Organizational Behaviour</option>
    <option value="OPMA">OPMA-Operations Management</option>
    <option value="PHED">PHED-Physical Education</option>
    <option value="PHIL">PHIL-Philosophy</option>
    <option value="PHYS">PHYS-Physics</option>
    <option value="PLBI">PLBI-Plant Biology</option>
    <option value="PLMA">PLMA-Professional Land Managem</option>
    <option value="POLI">POLI-Political Science</option>
    <option value="PPOL">PPOL-PPOL</option>
    <option value="PSYC">PSYC-Psychology</option>
    <option value="QBIO">QBIO-Qatar Biology</option>
    <option value="QCHE">QCHE-Qatar Chemistry</option>
    <option value="QMAT">QMAT-Qatar Mathematics</option>
    <option value="REAL">REAL-Real Estate Studies</option>
    <option value="RELS">RELS-Religious Studies</option>
    <option value="RMIN">RMIN-Risk Management and Insur</option>
    <option value="RUSS">RUSS-Russian</option>
    <option value="RVST">RVST-Research Visiting Student</option>
    <option value="SAST">SAST-South Asian Studies</option>
    <option value="SCIE">SCIE-Science</option>
    <option value="SCMA">SCMA-Supply Chain Management</option>
    <option value="SCPA">SCPA-School of Creative and Pe</option>
    <option value="SEDV">SEDV-Sustainable Energy Develo</option>
    <option value="SENG">SENG-Software Engineering</option>
    <option value="SGMA">SGMA-Strategy and Global Manag</option>
    <option value="SOCI">SOCI-Sociology</option>
    <option value="SOWK">SOWK-Social Work</option>
    <option value="SPAN">SPAN-Spanish</option>
    <option value="STAT">STAT-Statistics</option>
    <option value="STST">STST-Strategic Studies</option>
    <option value="SUST">SUST-Sustainability Studies</option>
    <option value="TAP">TAP-Term Abroad Program</option>
    <option value="TOUR">TOUR-Tourism and Hospitality M</option>
    <option value="UBST">UBST-Urban Studies</option>
    <option value="UNEX">UNEX-University Exchange</option>
    <option value="UNIV">UNIV-University</option>
    <option value="VETM">VETM-Veterinary Medicine</option>
    <option value="WMST">WMST-Women's Studies</option>
    <option value="ZOOL">ZOOL-Zoology</option>
</select>