<select class="custom-select required" name="department">
        <option>Select department</option>
        <option value="Accounting">Accounting</option>
        <option value="Actuarial Science">Actuarial Science</option>
        <option value="Administration">Administration</option>
        <option value="African Studies">African Studies</option>
        <option value="Anthropology">Anthropology</option>
        <option value="Archaeology">Archaeology</option>
        <option value="Architecture">Architecture</option>
        <option value="Art">Art</option>
        <option value="Art History">Art History</option>
        <option value="Biological Sciences">Biological Sciences</option>
        <option value="Business">Business</option>
        <option value="Business Law">Business Law</option>
        <option value="Canadian Studies">Canadian Studies</option>
        <option value="Chemistry">Chemistry</option>
        <option value="Chinese">Chinese</option>
        <option value="Communication Studies">Communication Studies</option>
        <option value="Computer Science">Computer Science</option>
        <option value="Continuing Education">Continuing Education</option>
        <option value="Dance">Dance</option>
        <option value="Design">Design</option>
        <option value="Developmental Studies">Developmental Studies</option>
        <option value="Dramatic Arts">Dramatic Arts</option>
        <option value="Earth Science">Earth Science</option>
        <option value="East Asian Studies">East Asian Studies</option>
        <option value="Economics">Economics</option>
        <option value="Education">Education</option>
        <option value="Electrical &amp; Comp. Engineering">Electrical &amp; Comp. Engineering</option>
        <option value="Engineering">Engineering</option>
        <option value="English">English</option>
        <option value="Entrepreneurship">Entrepreneurship</option>
        <option value="Environmental Science">Environmental Science</option>
        <option value="Ethnic Studies">Ethnic Studies</option>
        <option value="Film">Film</option>
        <option value="Finance">Finance</option>
        <option value="Fine Arts">Fine Arts</option>
        <option value="French">French</option>
        <option value="French Hispanic &amp; Italian Stud">French Hispanic &amp; Italian Stud</option>
        <option value="French, Italian, &amp; Spanish">French, Italian, &amp; Spanish</option>
        <option value="General Studies">General Studies</option>
        <option value="Geography">Geography</option>
        <option value="Geological Science">Geological Science</option>
        <option value="Geology">Geology</option>
        <option value="Geophysics">Geophysics</option>
        <option value="German">German</option>
        <option value="Graduate Studies">Graduate Studies</option>
        <option value="Greek">Greek</option>
        <option value="Greek &amp; Roman Studies">Greek &amp; Roman Studies</option>
        <option value="Health Science">Health Science</option>
        <option value="History">History</option>
        <option value="Human Resources Management">Human Resources Management</option>
        <option value="Internation Service">Internation Service</option>
        <option value="International Business">International Business</option>
        <option value="International Relations">International Relations</option>
        <option value="Italian">Italian</option>
        <option value="Japanese">Japanese</option>
        <option value="Kinesiology">Kinesiology</option>
        <option value="Latin">Latin</option>
        <option value="Latin American Studies">Latin American Studies</option>
        <option value="Law">Law</option>
        <option value="Legal Studies">Legal Studies</option>
        <option value="Linguistics">Linguistics</option>
        <option value="Managerial Science">Managerial Science</option>
        <option value="Marketing">Marketing</option>
        <option value="Math &amp; Statisitics">Math &amp; Statisitics</option>
        <option value="Mathematics">Mathematics</option>
        <option value="Mechanical Engineering">Mechanical Engineering</option>
        <option value="Medicine">Medicine</option>
        <option value="Museum Studies">Museum Studies</option>
        <option value="Music">Music</option>
        <option value="Nursing">Nursing</option>
        <option value="Operations Management">Operations Management</option>
        <option value="Organizational Behavior">Organizational Behavior</option>
        <option value="Petroleum">Petroleum</option>
        <option value="Philosophy">Philosophy</option>
        <option value="Philosophy &amp; Social Sciences">Philosophy &amp; Social Sciences</option>
        <option value="Physics &amp; Astronomy">Physics &amp; Astronomy</option>
        <option value="Political Science">Political Science</option>
        <option value="Psychology">Psychology</option>
        <option value="Rehabilitation Counseling">Rehabilitation Counseling</option>
        <option value="Rehabilitative Studies">Rehabilitative Studies</option>
        <option value="Religious Studies">Religious Studies</option>
        <option value="Risk Management &amp; Insurance">Risk Management &amp; Insurance</option>
        <option value="Russian">Russian</option>
        <option value="Science Technology &amp; Society">Science Technology &amp; Society</option>
        <option value="Social Work">Social Work</option>
        <option value="Sociology">Sociology</option>
        <option value="Spanish">Spanish</option>
        <option value="Strategic Management">Strategic Management</option>
        <option value="Theater">Theater</option>
        <option value="Theology">Theology</option>
        <option value="Tourism Studies">Tourism Studies</option>
        <option value="Transportation &amp; Logistics">Transportation &amp; Logistics</option>
        <option value="Urban Studies">Urban Studies</option>
        <option value="Women's Studies">Women's Studies</option>
</select>