
<!DOCTYPE html>
<html lang="en">
  <% include ../partials/head %>
  <link href="style.css" rel="stylesheet" type="text/css">
  <body>

    <% include ../partials/navbar %>
    <img class="campus-background" src="uofc-campus.jpg" alt="campus" />
    <div class="wrap">
      <form class="search" action="/professors" method="GET">
        <input name="search" type="text" class="searchTerm" placeholder="Look for a Professor"/>
        <button type="submit" class="searchButton">
          <img class="search-icon" src="search-icon.png" alt="search" />
        </button>
      </form>
    </div>
  </body>
</html>
