
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Cover Template for Bootstrap</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://v4-alpha.getbootstrap.com/examples/cover/cover.css" rel="stylesheet">
  </head>
  <style>
	body {
		background-image: url('login-img.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: 100% 100%;
	}
	.site-wrapper-inner-b {
		background-color: black ;
		padding: 10px ;
		border: 2px solid gray ;
	}
  </style>
  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <nav class="nav nav-masthead">
                <a class="nav-link" href="/welcome">Welcome</a>
                <a class="nav-link" href="/register">Get Started</a>
                <a class="nav-link active" href="/login">Log In</a>
              </nav>
            </div>
          </div>

          <center>
            <div class="site-wrapper-inner-b">
              <h1 class="cover-heading">Welcome Back</h1>
              <br>
              <form action="/login" method="POST">
                <input class="form-control" placeholder="Email Address" type="email" name="email" autofocus value = "<%= locals.emailReturn %>">
                <input class="form-control" placeholder="Password" type="password" name="password"  value = "<%= locals.passwordReturn %>">
                <br>
                <button class="btn btn-lg btn-primary btn-block">Log in</button>
              </form>
            </div>
            <br>
            <% if (locals.message) { %>
              <h3><%= message %></h3>
            <% } %>
          </center>
        </div>

      </div>

    </div>
  </body>
</html>
