
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Cover Template for Bootstrap</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://v4-alpha.getbootstrap.com/examples/cover/cover.css" rel="stylesheet">
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="/welcome">Welcome</a>
                <a class="nav-link" href="/register">Get Started</a>
                <a class="nav-link" href="/login">Log In</a>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">RateMyProf</h1>
            <p class="lead">Look up reviews about professors and help out other students of U of C</p>
            <form action="/register">
              <button class="btn btn-lg btn-primary btn-block">Get Started</button>
            </form>
            <br>
            <form action="/login">
              <button class="btn btn-lg btn-primary btn-block">Log in</button>
            </form>
          </div>
        </div>

      </div>

    </div>
  </body>
</html>
